/* You can add global styles to this file, and also import other style files */

body .row {
    margin-left: 0px;
    margin-right: 0px
}

body a {
    cursor: pointer;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.fw-bold{
    font-weight:bold;
}

.noPadding{
    padding-left:0px;
    padding-right:0px;
}